html {
    background-color: blue;
}

.card {
    max-width: 75%;
    border: solid 1px;
    margin: 20px;
    padding: 10px;
    background-color: white;
}

.cardCategory {
    max-width: 25%;
    border: solid 1px;
    padding: 10px;
    background-color: white;
}